// tipografia
$fuente_principal: 'Helvetica, sans-serif';

// colores
$primary-orange: #EE7136;
$secondary-orange: #FBCCAE;
$primary-green: #3FAD55;
$secondary-green: #BCD6B0;
$gray: #FAF9F9;
$primary-white: #EFEFEF;
$secondary-white: #FAF9F9;
$negro : black;

// Tamaños de media queries
$telefono: 480px;
$tablet : 768px;
$desktop : 992px;
$desktopXL: 1200px;
